<div class="footer">
    <a href="../student/add" class="options add-student"><strong>Add Student</strong></a>
    <a href="../student/find" class="options find-student"><strong>Show Current Student</strong></a>
    <a href="../student/graduate" class="options graduate-student"><strong>Find Graduates</strong></a>
</div>